Invite dialog is deleted when in-dialog Refer subscription terminates

**Scenario**:
A UAC is created to manage a call dialog (INVITE method).
By receiving an in-dialog REFER to **transfer** the call, a subscription is started for the "refer" event ([RFC 3515 - 2.4.4](https://tools.ietf.org/html/rfc3515#section-2.4.4)).
When completing the transfer, a Notify is sent with the header **_Subscription-State: terminated;reason=noresource_** to indicate that the subscription is finished [RFC 3515 - 2.4.7](https://tools.ietf.org/html/rfc3515#section-2.4.7).

**Issue**:
After receiving the 200 OK for this last NOTIFY, Drachtio deletes the dialog showing the following log:
**_clearing dialog after receiving response o BYE or notify w/ subscription-state terminated_**

This makes sense in a Subscribe dialog, but, since it consists of an in-dialog Refer in an Invite dialog, it should be up to the peers to decide whether to maintain this dialog or not (RFC 5589).

**Analysis**:
When sending the Notify a RIP object is created with the **m_bClearDialogOnResponse** variable set to **true**, which happens when sending a Bye or a Notify with the subscription set to "terminated", as the log showed. A suggestion is to consider this Notify only in a subscription dialog.

@davehorton, is this somehow configurable?
I'm attaching Drachtio's [configuration](https://github.com/davehorton/drachtio-server/files/4576430/drachtio.conf.zip) and [log](https://github.com/davehorton/drachtio-server/files/4576415/drachtio.log) files. Let me know if need anything else.

References:
Refer RFC: [RFC 3515](https://tools.ietf.org/html/rfc3515)
Event Notification RFC (Subscribe/Notify): [RFC 3265](https://tools.ietf.org/html/rfc3265)
Transfer RFC:  [RFC 5589](https://tools.ietf.org/html/rfc5589)

Thanks for the detailed analysis on this.  I'll try to review tonight

Does it actually need to be configurable?  I agree with your analysis, which is that a NOTIFY (subscription-state terminated) following a REFER should not knock down the INVITE dialog.  So it seems like I should just fix that bug.....not sure there is a case for a configuration option to preserve current behavior...

I agree with you, it's just a matter of fixing it. I asked just to check if there was a workaround before the fix.

just wondering about something...in your log the UAS responds with 481 Call/Transaction Does Not Exist when the drachtio server acting as UAC sends the BYE.  Why is that?  The dialog seems like it should be active at that point on the UAS side, no?  One side or the other does need to generate a BYE for this at some point (though I agree the drachtio server should not have sent it when it did)

I'm not sure if I understood it correctly, but let me share more info regarding the scenario.

-> The call is established:
UAC -> INVITE ->UAS
UAS -> 200 OK -> UAC
UAC -> ACK -> UAS

-> UAS requests a transfer:
UAS -> REFER -> UAS
UAC -> 202 Accepted for REFER-> UAS
UAC -> NOTIFY (beginning of subscription) -> UAS
UAS -> 200 OK for NOTIFY -> UAC
UAC ->NOTIFY (terminated) -> UAS
UAS -> 200 OK for NOTIFY -> UAC
**UAC deletes dialog**

-> UAS notices that the transfer was successful and sends a BYE since it does not wish to be connected to UAC anymore:
UAS -> BYE-> UAS
UAC -> 481 Call/Transaction Does Not Exist-> UAS

By receiving this BYE on UAC, Drachtio server responds 481 since the dialog no longer exists.

The log that we are seeing is from the UAC side.

If I build a patch on a branch, do you have the ability to test this?

Yes, I can test it!

can you try testing with the `issue-125` branch?

It worked! Thanks very much!

ok.  I will merge it into the develop branch and then close the issue

fixed